

@media (max-width:600px) {



    /* -------------HEADER----------------- */

    header {
        display: flex;
        width: 100%;
        margin: 0px;

    }

    header .frist {
        /* background-color: aqua; */
        flex-wrap: wrap;
        width: 140px;
        padding:0px 20px;
        
        
    }

    header .frist .a1, header .frist .a2 {
        padding-left: 0px;
        float: left;
        padding: 3px 0px;
    }

    header .icons {
        justify-content: center;
        
    }

    header .icons a{
        padding-top: 13px;
        
    }


    /* ======================================= */





    /* <-------------------- NAV -------------------> */

    nav{
        /* background-color: blue ; */
        display: grid;


    }

    nav .titel {
        /* background-color: red; */
        flex-wrap: wrap;
        display: none;
        padding: 0px;
        height: 70px;
        width: fit-content;
    }

    nav .bar {
        
        flex-wrap: wrap;
        /* background-color: brown; */
        width: 100% ;


    }

    nav .bar ul li {
        padding: 10px;
        
    }
    


    nav .regest {
        margin: auto;
        /* background-color: aqua; */
        padding: 10px 10px;
        width: fit-content;

        
    }

    nav .regest .a1 {
        margin: auto;
        margin-right:30px ;
    }

    nav .regest .a2 {
        margin:auto;
    }


    /* ========================================== */



    /* <-- ------------BACKGROUND------------------ --> */


    .back-gr{
        width: 100%;


    } 

    .back-gr .h3 {
        /* background-color: aqua; */
        position: relative;
        left: 30px;


    }

    .back-gr .h3 h2 {
        float: left;
        text-align: start;
        font-size:45px;
    }

    .back-gr .h3 span {
        font-size: 60px;
    }

    .back-gr .p {
        /* background-color: aqua; */
        width: 350px;
        position: relative;
        left: 40px;
    }


    .back-gr .about {
        margin-left: 110px;
    }


    .back-gr .icon a{
        margin: 0%;
        margin-left: 150px;
    }

    /* =============================================== */




        /* -------------- SECTION 1 OR MAIN -------------- */



    .section1 .all-divs {
        /* background-color: blue; */
        margin: 0;
        padding: 0;
        width: 100%;
        display: grid;
        
        
    }
    .section1 .all-divs .plan {
        flex-direction: column;
        width: 100%;



    }


    .section1 .all-divs .plan .online {
        flex-direction: column;
        /* background-color: #ff0000; */
        width: 100%;


    }

    .section1 .all-divs .plan .online .map1 {
        width: 80%;

        margin: 0%;
       

    }

    .section1 .all-divs .plan .online .map2 {
        width: 80%;

        position: relative;
        left: 0;
        top: 7px;
        margin: 0%;
        

    }

    .section1 .all-divs .plan .online .map3 {
        width: 80%;


        position: relative;
        left: 0;
        top: 14px;

        margin: 0%;

    }

    .section1 .all-divs .plan .online .map4 {
        width: 80%;
        position: relative;
        left: 0;
        top: 22px;

        margin: 0%;

    }





    .section1 .all-divs .explan {
        padding-left: 0px;
        background-color: blue;
        width: 100%;
        /* background-color: blueviolet; */
    }


    .section1 .all-divs  .explan .ex .p1 {
        width: fit-content;

    }

    .section1 .all-divs .explan .ex h2{
        background-color: blue;
        width: 350px;
    }

    .section1 .all-divs .explan .ex .p2{
        background-color: red;
        width: 350px;
    }






}